Body {background-color: aqua;
}

@media screen and (max-width: 600px){

    .part1 {color:brown;
        font-size: 150%;
    }
} 
.part1 {border-color: blue;
         border-style: double;
        border-width: 6px;
    }
    
    .part3 {border-color: rgb(255, 0, 43);
        border-style: solid;
       border-width: 10px;
   }

   .part3 { margin-left: 10%;
}
